doctype html
html(lang="es")
  head
    title= data.title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(name='description', content= data.description)
    meta(name='author', content= data.autores)
    meta(property='og:title', content= data.title)
    meta(property='og:description', content= data.description)
    meta(property='og:image', content='/assets/img/logo.svg')
    meta(property='og:url', content='http://www.ricardoalfaro.cl')
    meta(name='twitter:title', content= data.title)
    meta(name='twitter:description', content= data.description)
    meta(name='twitter:image', content='/assets/img/logo.svg')
    meta(name='twitter:card', content= data.summary_large_image)
    title data.title
    link(rel='icon', type='image/x-icon', href='favicon.ico')
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=', crossorigin='anonymous')

    link(href='https://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Dosis', rel='stylesheet')
    link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    
    link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.css')

    link(rel="stylesheet" href="css/style.css")
    block head_end

  body
    block content
    script(type="text/javascript", src="js/lodash.min.js")
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js', integrity='sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=', crossorigin='anonymous')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha256-U5ZEeKfGNOja007MMD3YBI0A3OSZOQbeG6z2f2Y0hu8=', crossorigin='anonymous')
    script(type="text/javascript", src="js/script.min.js")

    block body_end
