/*HOME*
------------------------*/

/*HEADER*/
.top-header{
  background-image: url("../img/medusas2.jpg");
  background-size: cover;
  background-color: $main-color;
  min-height: 100vh;
  display: flex;
  vertical-align: middle;
  > div{
    margin: auto 10%;
  }
  h1{
    margin-top: 60px;
    font-size: 170px;
  }
  h2{
    font-weight: lighter;
  }
}

/*INDUSTRIES*/

.industries{
  background: url("../img/bg_industries.png") no-repeat left bottom #EFF0EE;
  background-size: 55%;
  background-blend-mode: color-burn;
  height: 100vh;
  color: $main-color;
  position: relative;
  .industries-title{
    h1{
      padding-left: 40px;
      margin-top: 50px;
      font-size: 100px;
    }
  }
  .industries-content{
    min-height: 100vh;
    .industries-list{
      padding-top: 50px;
      .industry{
        padding: 0 20% 0 10px;
        height: 28vh;
        i{
          margin-right: 20px;
          float: left;
          display: block;
          font-size: 50px;
        }
        h2{
          font-size: 42px;
          margin-top: 10px;
          margin-bottom: 20px;
          font-weight: lighter;
        }
        p{
          font-size: 20px;
          line-height: 130%;
          margin-bottom: 20px;
        }
        a{
          color: #95a5a6;
          font-size: 16px;
          display: block;
          margin-bottom: 30px;
          position: relative;
          &:after{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 2px;
            width: 4%;
            background-color: $second-color;
            transition: all .15s ease-in-out;
          }
          &:hover{
            text-decoration: none;
            color: $main-color;
            &:after{
              width: 14%;
            }
          }
        }
      }
      &.slick-slide{
        outline: 0px;
      }
    }
  }
  .slick-arrow{
    position: absolute;
    bottom: 30px;
    color: $main-color;
    border: none;
    background: none;
    outline: 0px;
    display: inline-block;
    text-indent: -10000px;
    overflow: hidden;
    height: 44px;
    &.slick-prev{
      &:before{
        content: '';
        display: block;
        background: url(../img/arrows.svg) no-repeat 0 0;
        width: 40px;
        height: 40px;
        background-size: 180%;
      }
    }
    &.slick-next{
      &:before{
        content: '';
        display: block;
        background: url(../img/arrows.svg) no-repeat -34px 0;
        background-size: 180%;
        width: 40px;
        height: 40px;
        margin-left: 40px;
      }
    }
  }
}

/*BIZFUNCTIONS*/

.bizfuntions{
  background: url("../img/bg_biz.png") no-repeat right bottom #EFF0EE;
  background-size: 100%;
  background-blend-mode: color-burn;
  background-color: $second-color;
  height: 100vh;
  color: white;
  position: relative;
  .industries-title{
    h1{
      padding-left: 40px;
      margin-top: 50px;
      font-size: 100px;
    }
  }
  .industries-content{
    min-height: 100vh;
    .industries-list{
      padding-top: 50px;
      .industry{
        padding: 0 20% 0 10px;
        height: 28vh;
        i{
          margin-right: 20px;
          float: left;
          display: block;
          font-size: 50px;
        }
        h2{
          font-size: 42px;
          margin-top: 10px;
          margin-bottom: 20px;
          font-weight: lighter;
        }
        p{
          font-size: 20px;
          line-height: 130%;
          margin-bottom: 20px;
        }
        a{
          color: white;
          font-size: 16px;
          display: block;
          margin-bottom: 30px;
          position: relative;
          &:after{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            height: 2px;
            width: 4%;
            background-color: yellow;
            transition: all .15s ease-in-out;
          }
          &:hover{
            text-decoration: none;
            color: $main-color;
            &:after{
              width: 14%;
            }
          }
        }
      }
      &.slick-slide{
        outline: 0px;
      }
    }
  }
  .slick-arrow{
    position: absolute;
    bottom: 30px;
    color: $main-color;
    border: none;
    background: none;
    outline: 0px;
    display: inline-block;
    text-indent: -10000px;
    overflow: hidden;
    height: 44px;
    &.slick-prev{
      &:before{
        content: '';
        display: block;
        background: url(../img/arrows_white.svg) no-repeat 0 0;
        width: 40px;
        height: 40px;
        background-size: 180%;
      }
    }
    &.slick-next{
      &:before{
        content: '';
        display: block;
        background: url(../img/arrows_white.svg) no-repeat -34px 0;
        background-size: 180%;
        width: 40px;
        height: 40px;
        margin-left: 40px;
      }
    }
  }
}

/*CLIENTS*/
.clients{
  background-color: #EFF0EE;
  color: white;
  height: 100vh;
  position: relative;
  img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 60px;
    max-width: 200px;
  }
  .allclients{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .clientlogo{
    height: 150px;
    border-bottom: dashed #CDCDCD 1px;
    border-right: dashed #CDCDCD 1px;
    text-align: center;
    img{
      filter: grayscale(100%);
    }
    &:hover img{
      filter: grayscale(0);
    }
  }
  .clientlogo:nth-child(4n){
    border-right: none;
  }
  .clientlogo:nth-child(n+5){
    border-bottom: none;
  }
  h1{
    color: $main-color;
    margin: 60px 0 80px 0;
    font-size: 100px;
  }
}


/*INITIATIVES*/
.initiatives{
  background-color: $main-color;
  height: 100%;
  text-align: center;
  h1{
    font-size: 25px;
  }
}

.initiative-logo{
  text-align: center;
  padding-top: 30px;
  img{
    max-height: 100px;
    max-width: 200px;
  }
}

.starsconf{
  background-image: url("../img/ini_bg_stc.jpg");
  height: 300px;
}
.gob{
  background-image: url("../img/ini_bg_getonbrd.jpg");
  height: 300px;
}
.scopecanvas{
  background-image: url("../img/ini_bg_scopecanvas.jpg");
  height: 300px;
}
.lab{
  background-image: url("../img/ini_bg_continuumlab.jpg");
  height: 300px;
}
.tmux{
  background-image: url("../img/ini_bg_tmux.jpg");
  height: 300px;
}
.residence{
  background-image: url("../img/ini_bg_residence.jpg");
  height: 300px;
}

/*LOCATIONS*/

.locations{
  background-color: #11D3C8;
  height: 50vh;
  text-align: left;
  h1{
    margin-top: 0;
    font-size: 100px;
  }
  i{
    font-size: 35px;
  }
  .locations-list{
    padding-top: 10vh;
    text-align: right;
    ul{
      list-style: none;
      font-size: 35px;
      .selected{
        text-decoration: underline;
      }
    }
  }
}



