/*NAV_MENU*
------------------------*/

.nav-menu{
  font-family: Arial;
  height: 80px;
  background-color: rgba(0,0,0,0.3);
  padding-bottom: 20px;
  position: absolute;
  width: 100%;
  top: 0;
  .logo{
    width: 180px;
    padding-top: 20px;
    a{
      display: block;
      outline: 0px;
      img{
        width: 100%;
      }
    }
  }
  .options{
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    display: table-cell;
    span{
      display: inline-grid;
      margin: 0 -2px;
      position: relative;
      > a.parent-option{
        color: white;
        padding: 24px 18px;
        text-decoration: none;
        border-top: 4px solid transparent;
        &:hover,
        &:focus,
        &.active{
          background: linear-gradient(rgba(255,255,255,0.01), rgba(255,255,255,0.03));
          border-top-color: $second-color;
          color: $second-color;
        }
      }
    }
    .dropdown-menu{
      padding: 0;
      margin: 0;
      background-color: rgba(0,0,0,0.4);
      border-radius: 0;
      li a{
        color: #999;
        font-size: 16px;
        border: none;
        padding: 10px 20px;
        border-left: 3px solid transparent;
        &:hover{
          background-color: rgba(0,0,0,0.4);
          color: #fff;
          border-left-color: #fff;
        }
      }
    }
  }
}