.container-fluid.footer
  .row
    .col-md-offset-1.col-md-3.logo_footer
    .col-md-8.social
        ul.icons_social
          li
            a.facebook(href="https://www.facebook.com/ricardoalfaro", title="Facebook", target="_blank")
        ul.links
          li
            p © 2017 Ricardo Alfaro
          li
            a(href="https://speakerdeck.com/ricardoalfarog", target="_blank") Mi Github
          li 
            a(href="http://github.com/ricardoalfaro", target="_blank") Mi Github