nav.nav-menu
  .col-md-2
    .logo
      a(href="/" title="Volver al Home")
        img(src="img/logo.svg" alt="nombre del logo")
  .col-md-10
    .options
      span
        a.parent-option(href="#" data-toggle="dropdown")
          | Menu 1
        ul.dropdown-menu(role="menu" aria-labelledby="dLabel")
          li
            a(href="#")
              | Item 1
          li
            a(href="#")
              | Item 2
          li
            a(href="#")
              | Item 3
      span
        a.parent-option(href="#")
          | Menu 2
      span
        a.parent-option(href="#")
          | Menu 3
      span
        a.parent-option(href="#")
          | Menu 4
      span
        a.parent-option(href="#")
          | Menu 5
